<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,2},{40,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,52}}</string>
                <key>sourceSize</key>
                <string>{40,52}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,904},{24,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,51}}</string>
                <key>sourceSize</key>
                <string>{24,51}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,985},{37,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,52}}</string>
                <key>sourceSize</key>
                <string>{37,52}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,985},{37,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,52}}</string>
                <key>sourceSize</key>
                <string>{37,52}</string>
            </dict>
            <key>30m.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,904},{79,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,51}}</string>
                <key>sourceSize</key>
                <string>{79,51}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,932},{41,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,52}}</string>
                <key>sourceSize</key>
                <string>{41,52}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,985},{37,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,51}}</string>
                <key>sourceSize</key>
                <string>{37,51}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,750},{38,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,52}}</string>
                <key>sourceSize</key>
                <string>{38,52}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,85},{39,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,51}}</string>
                <key>sourceSize</key>
                <string>{39,51}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,750},{38,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,52}}</string>
                <key>sourceSize</key>
                <string>{38,52}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,44},{39,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,52}}</string>
                <key>sourceSize</key>
                <string>{39,52}</string>
            </dict>
            <key>Face_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,308},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Face_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,416},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Face_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,206},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Face_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,741},{87,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,94}}</string>
                <key>sourceSize</key>
                <string>{87,94}</string>
            </dict>
            <key>Face_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,810},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Face_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,410},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Face_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,512},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Face_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,904},{89,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,100}}</string>
                <key>sourceSize</key>
                <string>{89,100}</string>
            </dict>
            <key>aa.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1000},{15,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,52}}</string>
                <key>sourceSize</key>
                <string>{15,52}</string>
            </dict>
            <key>acc.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2},{151,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,151}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>accPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,847},{151,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,151}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>add_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,985},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>add_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,985},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>add_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,985},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>add_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,985},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>add_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,960},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>add_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,932},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>add_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,904},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>add_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,979},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>add_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,957},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>add_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1000},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>add_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,1001},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>btn_control_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,459},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>btn_control_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,307},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>canAcc.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,622},{153,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,120}}</string>
                <key>sourceSize</key>
                <string>{153,120}</string>
            </dict>
            <key>canNotAcc.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,611},{153,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,120}}</string>
                <key>sourceSize</key>
                <string>{153,120}</string>
            </dict>
            <key>control.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>controlBkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,155},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>count_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,766},{159,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,42}}</string>
                <key>sourceSize</key>
                <string>{159,42}</string>
            </dict>
            <key>cy_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,847},{471,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,55}}</string>
                <key>sourceSize</key>
                <string>{471,55}</string>
            </dict>
            <key>cy_bg_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,790},{476,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,55}}</string>
                <key>sourceSize</key>
                <string>{476,55}</string>
            </dict>
            <key>exceed.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,777},{100,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,49}}</string>
                <key>sourceSize</key>
                <string>{100,49}</string>
            </dict>
            <key>eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1000},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>font_beyond.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,2},{177,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,44}}</string>
                <key>sourceSize</key>
                <string>{177,44}</string>
            </dict>
            <key>game_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,904},{258,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,79}}</string>
                <key>sourceSize</key>
                <string>{258,79}</string>
            </dict>
            <key>head_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,135},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>head_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,940},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>head_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,940},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>head_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,932},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>icon_radar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{202,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,202}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>mul_kill.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{131,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,49}}</string>
                <key>sourceSize</key>
                <string>{131,49}</string>
            </dict>
            <key>name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1000},{256,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,18}}</string>
                <key>sourceSize</key>
                <string>{256,18}</string>
            </dict>
            <key>new_alpha_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,611},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>new_finger.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{158,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,208}}</string>
                <key>sourceSize</key>
                <string>{158,208}</string>
            </dict>
            <key>new_paopao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,467},{153,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,120}}</string>
                <key>sourceSize</key>
                <string>{153,120}</string>
            </dict>
            <key>new_paopao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,312},{153,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,120}}</string>
                <key>sourceSize</key>
                <string>{153,120}</string>
            </dict>
            <key>new_paopao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,157},{153,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,120}}</string>
                <key>sourceSize</key>
                <string>{153,120}</string>
            </dict>
            <key>new_paopao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{153,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,120}}</string>
                <key>sourceSize</key>
                <string>{153,120}</string>
            </dict>
            <key>skin_r_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,104},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>skin_r_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>skin_r_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,308},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>skin_r_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,206},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>skin_r_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,410},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>skin_r_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,648},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>skin_r_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,546},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>skin_r_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,648},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>skin_r_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,546},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>skin_r_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,104},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>skin_t_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>skin_t_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,308},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>skin_t_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,206},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>skin_t_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,104},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>skin_t_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>skin_t_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,314},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>skin_t_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,212},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>skin_t_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,830},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>skin_t_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,487},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>skin_t_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,385},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>tail_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,283},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>tail_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,181},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>taotaobottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,603},{185,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,185}}</string>
                <key>sourceSize</key>
                <string>{185,185}</string>
            </dict>
            <key>taotaotop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{185,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,185}}</string>
                <key>sourceSize</key>
                <string>{185,185}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>snake.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:343a6e8bce5e52baf33ff2c5e2397ddb:1/1$</string>
            <key>textureFileName</key>
            <string>snake.png</string>
        </dict>
    </dict>
</plist>
